body{
    background-image: linear-gradient(150deg, #f0398e 0, #f792cd 16.67%,
    #f12a7d 33.33%, hsl(342, 81%, 59%) 50%, #d00057 66.67%, hsl(327, 87%, 46%) 83.33%, hsl(340, 80%, 54%) 100%);
 
    display: flex; /*Comportamento do elemento na pagina*/
}
 
/* Estilização do container */
.container{
display: flex;
justify-content: center;
align-items: center;
width: 13% ;
height: 800% ;
}
 
.form{
 
    background-image: linear-gradient(150deg, #fc5998 0, #f093ba 16.67%,
    #e41e7a 33.33%, #fd25a3 50%, #f32675 66.67%, #c90064 83.33%, #c2005b 100%);
   
}